<% link_to root_path, :class=> 'shadable', :id=>'logo' do %>
  <%= image_tag '/images/captions/logo.png', :alt =>'Studio DAS' %>
<% end %>
<div id='mainHeader'>
  <%= image_tag '/images/captions/contactsTitle.png', :alt =>'Контакты' %>
  <%= image_tag '/images/captions/comment.png', :alt =>'Группа молодых дизайнеров', :id=>'comment' %>
</div>   
<div id='content'>
<img id='contImg' src='images/contacts.png' alt='Наш почтовый адрес и номер ICQ' />
</div>