<div id='mainHeader' style='text-align: left;'>
  <%= image_tag '/images/captions/indexTitle.png', :alt =>'Студия молодых дизайнеров' %><br />
</div>    
<%= image_tag '/images/index.png', :id =>'indImg' ,:alt =>'Studio DAS' %><br />