<h1>New attached_photo</h1>
<% form_for(@attached_photo, :attached_photo, :url => project_attached_photos_path(@project),:html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>
  <%= f.label 'Photo' %><br />
  <%= f.file_field :photo %>
  <%= f.submit 'Create' %>
  </p>
<% end %>